server {
    listen 80;
    listen [::]:80;

    server_name {{ certbot_server_name }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }

    return 404;
}
