[Unit]
Description=Cron job timer for {{ pod_name }}-app container inside {{ pod_name }}
Requires={{ pod_name }}-cron-app.service

[Timer]
Unit={{ pod_name }}-cron-app.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
