[Unit]
Description=Cron job for {{ nc_pod_name }}-app container inside {{ nc_pod_name }}
Requires=container-{{ nc_pod_name }}-db.service container-{{ nc_pod_name }}-app.service
After=container-{{ nc_pod_name }}-db.service container-{{ nc_pod_name }}-app.service
Wants=cron-container-{{ nc_pod_name }}-app.timer

[Service]
ExecStart=podman exec -u www-data {{ nc_pod_name }}-app php -f /var/www/html/cron.php
Type=oneshot

[Install]
WantedBy=default.target
