[Unit]
Description=Cron job timer for {{ nc_pod_name }}-app container inside {{ nc_pod_name }}
Requires={{ nc_pod_name }}-cron-app.service

[Timer]
Unit={{ nc_pod_name }}-cron-app.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
