[Unit]
Description=Backup job for {{ pod_name }}
Requires=container-{{ pod_name }}-db.service container-{{ pod_name }}-app.service
After=container-{{ pod_name }}-db.service container-{{ pod_name }}-app.service
Wants={{ pod_name }}-backup.timer

{% for mount in backup_systemd_requires %}
Requires={{ mount }}
After={{ mount }}
{% endfor %}

[Service]
ExecStart=/usr/local/bin/{{ pod_name }}-backup
Type=oneshot
StandardOutput=append:{{ volumes_dir }}/log/out.log
StandardError=append:{{ volumes_dir }}/log/err.log

[Install]
WantedBy=default.target
