[Unit]
Description=Backup job timer for {{ nc_pod_name }} pod
Requires={{ nc_pod_name }}-backup.service

[Timer]
Unit={{ nc_pod_name }}-backup.service
OnCalendar=*-*-* 02:00:00

[Install]
WantedBy=timers.target
