[Unit]
Description=Backup job timer for {{ pod_name }} pod
Requires={{ pod_name }}-backup.service

[Timer]
Unit={{ pod_name }}-backup.service
OnCalendar=*-*-* 02:00:00

[Install]
WantedBy=timers.target
