[Unit]
Description=Backup job for {{ nc_pod_name }}
Requires=container-{{ nc_pod_name }}-db.service container-{{ nc_pod_name }}-app.service
After=container-{{ nc_pod_name }}-db.service container-{{ nc_pod_name }}-app.service
Wants={{ nc_pod_name }}-backup.timer

{% for mount in backup_systemd_requires %}
Requires={{ mount }}
After={{ mount }}
{% endfor %}

[Service]
ExecStart=/usr/local/bin/{{ nc_pod_name }}-backup
Type=oneshot
StandardOutput=append:{{ nc_volumes_dir }}/log/out.log
StandardError=append:{{ nc_volumes_dir }}/log/err.log

[Install]
WantedBy=default.target
